.bg-green{
	background-color: #28a452;
}
.bg-blue{
	background-color: #003348;
}
.bg-img{
	background-image: url("../img/carousel-bg.jpg");
	background-size: cover;
  	background-repeat: no-repeat;
 	background-position: center;
}
.bg-gs{
	background-color: rgba(47,107,84, 0.7);
}
.bg-oop{
	background-color: rgba(250,105,0, 0.7);
}
.fs-1{
	font-size: 4em;
}
.t-w{
	color:white;
}
.t-g{
	color:gray;
}
.t-o{
	color: #FA6900;
}
/*Paleta de colores*/
/*bgS RENGLON 1*/
.bg-cp1{
	background-color:#69D2E7;
}
.bg-cp2{
	background-color:#A7DBDB;
}
.bg-cp3{
	background-color:#E0E4CC;
}
.bg-cp4{
	background-color:#F38630;
}
.bg-cp5, .progress-bar-orng{
	background-color:#FA6900;
}
/*bgS RENGLON 2*/
.bg-cp6{
	background-color:#E94C6F;
}
.bg-cp7{
	background-color:#542733;
}
.bg-cp8{
	background-color:#5A6A62;
}
.bg-cp9{
	background-color:#C6D5CD;
}
.bg-cp10{
	background-color:#FDF200;
}
/*bgS RENGLON 3*/
.bg-cp11{
	background-color:#DB3340;
}
.bg-cp12{
	background-color:#E8B71A;
}
.bg-cp13{
	background-color:#F7EAC8;
}
.bg-cp14{
	background-color:#1FDA9A;
}
.bg-cp15{
	background-color:#28ABE3;
}
/*bgS RENGLON 4*/
.bg-cp16{
	background-color:#588C73;
}
.bg-cp17{
	background-color:#F2E394;
}
.bg-cp18{
	background-color:#F2AE72;
}
.bg-cp19{
	background-color:#D96459;
}
.bg-cp20{
	background-color:#8C4646;
}
/*bgS RENGLON 5*/
.bg-cp21{
	background-color:#D0C91F;
}
.bg-cp22{
	background-color:#85C4B9;
}
.bg-cp23{
	background-color:#008BBA;
}
.bg-cp24{
	background-color:#DF514C;
}
.bg-cp25{
	background-color:#DC403B;
}
.bg-cp1, .bg-cp2, .bg-cp3, .bg-cp4, .bg-cp5, .bg-cp6, .bg-cp7, .bg-cp8, .bg-cp9, .bg-cp10, .bg-cp11, .bg-cp12, .bg-cp13, .bg-cp14, .bg-cp15, .bg-cp16, .bg-cp17, .bg-cp18, .bg-cp19, .bg-cp20, .bg-cp21, .bg-cp22, .bg-cp23, .bg-cp24, .bg-cp25{
	height: 150px;
}
